In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,7.5,2012
493,tt1220634,60000000,296221663,Resident Evil: Afterlife,Milla Jovovich|Wentworth Miller|Ali Larter|Kim...,Paul W.S. Anderson,She's back...And she's bringing a few of her f...,"In a world ravaged by a virus infection, turni...",97,Action|Adventure|Horror|Science Fiction,Impact Pictures|Davis-Films|Constantin Film Pr...,9/9/2010,5.8,2010
1347,tt0357277,43000000,56681566,Elektra,Jennifer Garner|Goran Visnjic|Will Yun Lee|Car...,Rob Bowman,Looks can kill,Elektra the warrior survives a near-death expe...,97,Action,Twentieth Century Fox Film Corporation|Regency...,1/13/2005,5.0,2005
1364,tt0332047,30000000,50451307,Fever Pitch,Drew Barrymore|Jimmy Fallon|Jason Spevack|Jack...,Bobby Farrelly|Peter Farrelly,A Comedy About The Game of Love.,When relaxed and charming Ben Wrightman meets ...,103,Comedy|Drama|Romance,Fox 2000 Pictures|Wildgaze Films|Alan Greenspa...,4/6/2005,5.7,2005
55,tt1502712,120000001,167977596,Fantastic Four,Miles Teller|Kate Mara|Michael B. Jordan|Jamie...,Josh Trank,Change is coming.,Four young outsiders teleport to a dangerous u...,100,Action|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Marv Fi...,8/5/2015,4.4,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 6-задание:  data['profit'] = data['revenue'] - data['budget'] - новый столбец прибыль.

# 11- задание: Разделяем строки в которых несколько жанров
  #data11['genres'] = data11.genres.str.split('|')
  #data11=data11.explode('genres')

#27-задание: Делим строки в которых указано несколько актеров и генерируем пары актеров.
  # data27['cast'] = data27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# Фильтруем ДФ по максимальному бюджету
data[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [7]:
# Сортируем по максимальному бюджету
data.sort_values('budget', ascending = False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,tt0283111,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,5.9,2002
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002
1071,tt2109184,5000000,142817992,Paranormal Activity 4,Katie Featherston|Kathryn Newton|Matt Shively|...,Henry Joost|Ariel Schulman,It's closer than you think,It has been five years since the disappearance...,95,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/17/2012,5.3,2012
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002
1216,tt2101441,5000000,31724284,Spring Breakers,James Franco|Selena Gomez|Vanessa Hudgens|Ashl...,Harmony Korine,A little sun can bring out your dark side.,After four college girls rob a restaurant to f...,94,Drama|Crime,RabbitBandini Productions|Division Films|Pop F...,1/24/2013,5.0,2013

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
# Фильтруем длительность фильмов по максимальному значению
data[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
# Фильтруем длительность фильмов по минимальному значению
data[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
# Находим среднее значение длительности фильма
data.runtime.mean()

109.6585494970884

In [13]:
answers['4'] = 'Average length of films = 110 min'

# 5. Каково медианное значение длительности фильмов?

In [14]:
# Выводим основные статистические характеристики и находим в них медиану
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [15]:
# Находим медианное значение длительности фильма
data['runtime'].quantile(q=0.5)

107.0

In [16]:
answers['5'] = 'Median duration of films = 107 min'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [18]:
# Добавляем новый столбец прибыль
data['profit'] = data['revenue'] - data['budget']
# Фильтруем по максимальному значению прибыли
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [19]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [20]:
# Фильтруем по минимальному значению прибыли
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [21]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
# Фильтруем по фильмам, которые были прибыльными и выводим колво строк
data[data.profit > 0].shape[0]

1478

In [23]:
# Считаем колво строк по фильмам, которые были прибыльными
len(data[data.profit>0])

1478

In [24]:
answers['8'] = 'Movies with higher grossing budgets = 1478 films'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
#Ставим фильтр по 2008 году
year_2008 = data[data['release_year'] == 2008]
# Находим в выборке максимальное значение
year_2008[year_2008.profit == year_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [26]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
#Ставим фильтр с 2012 по 2014 год
p = data.query('2012 <= release_year <= 2014')
# Находим в выборке минимальное значение значение
p[p.profit == p.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [28]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11 = data.copy()
# Разделяем строки в которых несколько жанров
data11['genres'] = data11.genres.str.split('|')
data11=data11.explode('genres')
# Подсчитавыем кол-во в каждом жанре
data11['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [30]:
data11_2 = data11[['genres', 'original_title']]
# Группируем данные по жанрам и подсчитываем колл-во фильмом в каждом жанре
films_genre = data11_2.groupby('genres').count()
# Сортируем по убыванию
films_genre.sort_values('original_title', ascending=False)

                 original_title
genres
Drama                       782
Comedy                      683
Thriller                    596
Action                      582
Adventure                   415
Crime                       315
Romance                     308
Family                      260
Science Fiction             248
Fantasy                     222
Horror                      176
Mystery                     168
Animation                   139
Music                        64
History                      62
War                          58
Western                      19
Documentary                   8
Foreign                       2

In [31]:
answers['11'] = 'Most films of the genre - "Drama"'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
data12 = data11.copy()
# Ставим фильтр только по прибыльным фильмам и подсчитываем значение по каждому жанру
data12[data12.profit > 0].genres.value_counts().index[0]

'Drama'

In [33]:
answers['12'] = 'Films of the genre "Drama" most often become profitable'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
df=data12.copy()
# Разделяем строки в которых несколько режисеров
df['director'] = df.director.str.split('|')
data13=df.explode('director')
# Группируем выборку по режисерам и нахадим суммарные кассовые сборы по каждому. 
# Сортируем по убыванию и показываем 0 индекс из списка (он будет максимальным)
data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

In [35]:
answers['13'] = 'The director has the highest total box office - Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
data14 = data13.copy()
# находим жанр Action и распределяем значение по режисерам
data14[data14['genres'].str.contains('Action')]['director'].value_counts().sort_values(ascending=False)

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Ridley Scott           6
Antoine Fuqua          6
                      ..
Andy Tennant           1
Ernest R. Dickerson    1
Oxide Pang Chun        1
Gary Shore             1
Corey Yuen Kwai        1
Name: director, Length: 364, dtype: int64

In [37]:
answers['14'] = 'Director with the most Action films - Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
data_cast=data.copy()
# Разделяем строки в которых несколько актеров
data_cast['cast'] = data_cast.cast.str.split('|')
data_cast=data_cast.explode('cast')
# Фильтруем по 2012 году
data_cast_2012 = data_cast[data_cast['release_year'] == 2012]
# Находим максимальное значение по кассовым сборам
data_cast_2012[data_cast_2012.revenue == data_cast_2012.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Chris Evans,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Mark Ruffalo,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Chris Hemsworth,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Scarlett Johansson,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

In [39]:
answers['15'] = 'The highest-grossing movies in 2012 were with an actor -Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
# Ставим фильтр по фильмам у которых бюджет выше среднего значения
high_budget_films = data_cast[data_cast.budget > data_cast.budget.mean()]
# Распределяем количество фильмов по актерам
high_budget_films['cast'].value_counts()

Matt Damon             18
Adam Sandler           17
Angelina Jolie         16
Eddie Murphy           15
Samuel L. Jackson      15
                       ..
Hadley Belle Miller     1
Alicia Witt             1
Raven-SymonÃ©           1
Dave Bautista           1
Carol Burnett           1
Name: cast, Length: 1505, dtype: int64

In [41]:
answers['16'] = 'Actor who has starred in more high-budget films - Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
data17 = data14.copy()
# находим актера Nicolas Cage и распределяем значение по жанрам
data17[data17.cast.str.contains("Nicolas Cage")]['genres'].value_counts()

Action             19
Thriller           17
Drama              12
Crime              11
Fantasy            10
Adventure           8
Comedy              7
Animation           4
Science Fiction     4
Family              4
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

In [43]:
answers['17'] = 'Most of all Nicolas Cage starred in films of the genre - Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
# Фильтруем по студии Paramount Pictures
Paramount = data[data.production_companies.str.contains("Paramount Pictures")]
# И находим самый убыточный фильм
Paramount[Paramount.profit == Paramount.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [45]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
# Группируем данные по годам и суммируем кассовые сборы. Сортируем по убыванию
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [47]:
answers['19'] = 'Most successful year in terms of total box office receipts - 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
# Фильтруем по студии Warner Bros
Warner = data[data.production_companies.str.contains("Warner Bros")]
# Группируем данные по годам и суммируем прибыль. Сортируем по убыванию
Warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [49]:
answers['20'] = 'Most Profitable Year for Warner Bros. Studios - 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
from datetime import datetime
# Преобразовываем строку в обьект datetime
data.release_date = data.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
# Создаем новый столбец с наименованием месяца премьеры фильма
data['month'] = data.release_date.apply(lambda x: x.strftime('%B'))
# Считаем сколько фильмов в каждом месяце
data.month.value_counts()

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: month, dtype: int64

In [51]:
answers['21'] = 'For all the years, in total, the most films were released in a month - September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
# Фильтруем данные по летним месяцам и уточняем количество строк.
quantity = data.query('month in ["June", "July", "August"]').shape[0]
print(f'Летом суммарно вышло фильмов в количестве {quantity} шт.')

Летом суммарно вышло фильмов в количестве 450 шт.

In [53]:
answers['22'] = 'In the summer, there were a total of - 450 films'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
data23 = data.copy()
# Разделяем строки в которых несколько режиссеров
data23['director'] = data23.director.str.split('|')
data23 = data23.explode('director')
# Создаем фильтр по зимним месяцам
winter = data23.query('month in ["January", "February", "December"]')
# Подсчитываем значение по каждому режиссеру
winter.director.value_counts()

Peter Jackson         7
Steven Soderbergh     6
Clint Eastwood        6
Nancy Meyers          4
Martin Scorsese       4
                     ..
Jeremy Garelick       1
Richard Eyre          1
Paul W.S. Anderson    1
Scott Waugh           1
Mike McCoy            1
Name: director, Length: 358, dtype: int64

In [57]:
answers['23'] = 'Winter is the most productive time of the year for a director - Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
data24 = data.copy()
# Разделяем строки в которых несколько студий
data24['production_companies'] = data24.production_companies.str.split('|')
data_pro = data24.explode('production_companies')
# Создаем столбец в котором указано количество символов в наименовании
data_pro['len_original_title'] = data_pro['original_title'].apply(len)
# Группируем данные по студиям и находим среднее значение
data_pro.groupby(['production_companies'])['len_original_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len_original_title, Length: 1771, dtype: float64

In [59]:
answers['24'] = 'The longest titles for its films by the number of characters are given by the studio - Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
# Создаем функцию, которая считает кол-во слов в описание фильма
def len_words(s):
    return len(s.split(' '))
# Применяем функцию к столбцу описание
data_pro['len_overview'] = data_pro.overview.apply(len_words)
# Группируем по студиям и находим среднее значение
data_pro.groupby(['production_companies'])['len_overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: len_overview, Length: 1771, dtype: float64

In [61]:
answers['25'] = 'On average, the studio has the longest description of films in terms of word count - Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
data26 = data.copy()
# Выбираем фильмы с рейтингом выше 99%
one_percent = data26[data26['vote_average'] > data26 ['vote_average'].quantile(q=0.99)]
one_percent[['original_title', 'vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [69]:
answers['26'] = 'Films in the top 1 percent rated - Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [68]:
import itertools

In [70]:
data27 = data.copy()
#Делим строки в которых указано несколько актеров и генерируем пары актеров.
data27['cast'] = data27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data27 = data27.explode('cast')
#Подсчитываем в скольких фильмах участвовала каждая пара.
data27.cast.value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Ed Oxenbould, Kathryn Hahn)           1
(Antonio Banderas, Peter Coyote)       1
(Zac Efron, Danny DeVito)              1
(Connor Corum, Jon Ted Wynne)          1
(Reese Witherspoon, Luke Wilson)       1
Name: cast, Length: 18121, dtype: int64

In [71]:
answers['27'] = 'Most often, actors act in one film together - Daniel Radcliffe, Rupert Grint and Daniel Radcliffe, Emma Watson'

# Submission

In [72]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 'Average length of films = 110 min',
 '5': 'Median duration of films = 107 min',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 'Movies with higher grossing budgets = 1478 films',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Most films of the genre - "Drama"',
 '12': 'Films of the genre "Drama" most often become profitable',
 '13': 'The director has the highest total box office - Peter Jackson',
 '14': 'Director with the most Action films - Robert Rodriguez',
 '15': 'The highest-grossing movies in 2012 were with an actor -Chris Hemsworth',
 '16': 'Actor who has starred in more high-budget films - Matt Damon',
 '17': 'Most of all Nicolas Cage starred in films of the genre - Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 'Most successful year in terms of total box office receipts - 2015',
 '20': 'Most Profitable Year for Warner Bros. Studios - 2014',
 '21': 'For all the years, in total, the most films were released in a month - September',
 '22': 'In the summer, there were a total of - 450 films',
 '23': 'Winter is the most productive time of the year for a director - Peter Jackson',
 '24': 'The longest titles for its films by the number of characters are given by the studio - Four By Two Productions',
 '25': 'On average, the studio has the longest description of films in terms of word count - Midnight Picture Show',
 '26': 'Films in the top 1 percent rated - Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Most often, actors act in one film together - Daniel Radcliffe, Rupert Grint and Daniel Radcliffe, Emma Watson'}

In [73]:
# и убедиться что ни чего не пропустил)
len(answers)

27